@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here');

* {
  margin: 0;
  padding: 0;
  color: #111111;
}

body {
    background-image: url('../images/background-cork.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 2em;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style: none;
  height: 250px;
  width: 250px;
}

.full-note {
  background-image: url('../images/yellow-note.png');
  background-size: 250px 250px;
  background-repeat: no-repeat;
  height: 225px;
  width: 225px;
  padding: 1%;
}

.note-content{
  padding: 0 10%;
  word-wrap: break-word;
}

.push-pin {
  background-image: url(../images/push-pin.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: relative;
  left: 175px;
  top: 5px;
}

.register-login-button {
  text-decoration: none;
  padding-bottom: 2px;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  width: 30%;
  margin: 0 auto;
}

.register-login-button:after {
  content:'';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.register-login-button:hover {
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 2px;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.register-login-button:hover:after {
  width: 100%;
  background: #111111;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

#landing-page {
  background-image: url('../images/yellow-note.png');
  background-size: 500px 500px;
  height: 500px;
  width: 500px;
  margin: 20vh auto;
}

#landing-page div {
  margin-top: 10%;
  text-align: center;
  padding: 1%;
}

input {
  padding: 5px 10px;
  font-family: 'Just Me Again Down Here', cursive;
  font-size: .6em;
}

input[type="submit"] {
  background-color: white;
}

/*RESPONSIVE*/

@media (max-width: 500px) {
  #landing-page {
    background-size: 300px 300px;
    height: 300px;
    width: 300px;
  }
}
