@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Pangolin');

/*YELLOW: rgb(243,230,121);*/

* {
  margin: 0;
  padding: 0;
  color: #111111;
}

body {
    background-image: url('../images/background-cork.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Pangolin', cursive;
    font-size: 2em;
}

#title {
  font-size: 3em;
  padding: 0;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px #FFFFFF;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style: none;
  height: 250px;
  width: 250px;
}

.full-note {
  background-image: url('../images/yellow-note.png');
  background-size: 250px 250px;
  background-repeat: no-repeat;
  height: 225px;
  width: 225px;
  padding: 1%;
}

.note-content{
  padding: 0 10%;
  word-wrap: break-word;
  font-size: 1em;
}

.push-pin {
  background-image: url(../images/push-pin.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: relative;
  left: 175px;
  top: 5px;
}

.register-login-button {
  padding-bottom: 2px;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  width: 30%;
  margin: 0 auto;
}

.register-login-button:after {
  content:'';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.register-login-button:hover {
  cursor: pointer;
  padding-bottom: 2px;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.register-login-button:hover:after {
  width: 100%;
  background: #111111;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

#landing-page {
  background-image: url('../images/yellow-note.png');
  background-size: 500px 500px;
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

#landing-page div {
  margin-top: 10%;
  text-align: center;
  padding: 1%;
}


nav {
  background-color: #111111;
  height: 35px;
  display: flex;
  flex-direction: row-reverse;
}

nav div, .logout {
  font-size: .5em;
  color: #FFFFFF;
  padding-right: 4%;
  padding-top: 1%;
}

.logout:hover {
  cursor: pointer;
}

.logout:after {
  content:'';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

.logout:hover:after {
  width: 100%;
  background: #FFFFFF;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
}

main {
  padding: 1%;
}

#create {
  margin: 5px 0 10px auto;
}

#add-note {
  height: 100px;
  width: 500px;
  border: 5px solid black;
  padding: 5px;
  box-shadow: 5px 5px 5px #111AAA;
  font-size: .5em;
}

#create input[type="submit"] {
  width: 200px;
  margin-left: 5px;
  font-size: .5em;
  font-family: 'FontAwesome';
}

input {
  padding: 5px 10px;
  font-family: 'Pangolin', cursive;
  font-size: .6em;
  width: 75%;
}

input[type="submit"] {
  background-color: white;
  width: 250px;
}


/*RESPONSIVE*/

@media (max-width: 550px) {
  #add-note {
    height: 150px;
    width: 300px;
  }
}

@media (max-width: 500px) {
  #landing-page {
    background-size: 300px 300px;
    height: 300px;
    width: 300px;
  }
  #landing-page div {
    margin-top: 5%;
    padding: .1%;
  }
  input {
    padding: 2px 5px;
    font-family: 'Pangolin', cursive;
    font-size: .5em;
  }
  input[type="submit"] {
    font-size: .5em;
  }
  .register-login-button {
    font-size: .5em;
  }
}
