@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/** {
  border: 1px solid red;
}*/

body {
    background-image: url('../images/background-cork.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

ul {
  padding: 0;
  display: flex;
}

li {
  list-style: none;
  display: flex;
  height: 250px;
  width: 250px;
}

.full-note {
  background-image: url('../images/yellow-note.png');
  background-size: 250px 250px;
  background-repeat: no-repeat;
  height: 225px;
  width: 225px;
  padding: 1%;
}

.note-content{
  padding: 10%;
  word-wrap: break-word;
}
