<!-- CREATE START-->
<section id="create">
  <form ng-submit="mainCtrl.createNote()">
    <input id="add-note" type="text" ng-model="mainCtrl.formData.note" placeholder="Just a quick note..."/>
    <input type="submit" value="&#x1F4CC;  Note to Board">
  </form>
</section>
<!-- CREATE END-->
<!-- READ START-->
<ul>
  <li ng-repeat="note in mainCtrl.notes" ng-if="note.displayNote">
    <div class="full-note">
      <div class="push-pin"></div>
      <div class="note-content">
          {{note.content}}</br>
<!-- DELETE START-->
    <div ng-click="mainCtrl.deleteNote(note)"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
<!-- DELETE END-->
<!-- UPDATE START-->
    <div ng-click="mainCtrl.editIndexToggle = $index;  mainCtrl.showEditFieldForm()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
    <form ng-if="$index === mainCtrl.editIndexToggle && mainCtrl.showEditField" ng-submit="mainCtrl.updateNote(note)">
        <input type="text" ng-model="note.content" />
        <input type="submit" value="update">
    </form>
<!-- UPDATE END-->
      </div>
    </div>
  </li>
</ul>
<!-- READ END-->
