<!-- REGISTER START-->
<div ng-click="mainCtrl.showRegistrationFormOnly()">Register</div>
<form ng-if="!mainCtrl.loggedInUser; mainCtrl.showRegister" ng-submit="mainCtrl.registerUser()">
  <input type="text" ng-model="mainCtrl.registerUserData.username" placeholder="username"/>
  <input type="text" ng-model="mainCtrl.registerUserData.password" placeholder="password"/>
  <input type="text" ng-model="mainCtrl.registerUserData.display" placeholder="display"/>
  <input type="submit" value="register">
</form>
<!-- REGISTER END-->

<!-- LOGIN START-->
<div ng-click="mainCtrl.showLoginFormOnly()">Login</div>
<form ng-if="!mainCtrl.loggedInUser; mainCtrl.showLogin" ng-submit="mainCtrl.loginUser()">
  <input type="text" ng-model="mainCtrl.loginUserData.username" placeholder="username"/>
  <input type="text" ng-model="mainCtrl.loginUserData.password" placeholder="password"/>
  <input type="submit" value="login">
</form>
<!-- LOGIN END-->

<!-- LOGIN START-->
<button ng-if="mainCtrl.loggedInUser" ng-click="mainCtrl.logoutUser()">
  Logout
</button>
<!-- LOGIN END-->
<div>Welcome {{currentUser.display}}!</div>
