<!-- LANDING PAGE -->
<section ng-if="!mainCtrl.loggedInUser" id="landing-page">
  <!-- REGISTER START-->
  <div ng-if="mainCtrl.showRegisterForm">
    <div class="register-login-button" ng-click="mainCtrl.showRegistrationFormOnly()" >Register</div>
    <form ng-if="!mainCtrl.loggedInUser; mainCtrl.showRegister" ng-submit="mainCtrl.registerUser()">
      <input type="text" ng-model="mainCtrl.registerUserData.username" placeholder="username" required/>
      <input type="text" ng-model="mainCtrl.registerUserData.password" placeholder="password" required/><br/>
      <input type="text" ng-model="mainCtrl.registerUserData.display" placeholder="display name" required/><br/>
      <input type="submit" value="Complete Registration">
    </form>
  </div>
  <!-- REGISTER END-->

  <!-- LOGIN START-->
  <div ng-if="mainCtrl.showLoginForm">
    <div class="register-login-button" ng-click="mainCtrl.showLoginFormOnly()" >Login</div>
    <form ng-if="!mainCtrl.loggedInUser; mainCtrl.showLogin" ng-submit="mainCtrl.loginUser()">
      <input type="text" ng-model="mainCtrl.loginUserData.username" placeholder="username" required/>
      <input type="text" ng-model="mainCtrl.loginUserData.password" placeholder="password" required/><br/>
      <input type="submit" value="Log In">
    </form>
  </div>
  <!-- LOGIN END-->
</section>

<!-- NAVIGATION -->
<nav ng-if="mainCtrl.loggedInUser">
  <!-- LOGOUT START-->
  <div class="logout" ng-if="mainCtrl.loggedInUser" ng-click="mainCtrl.logoutUser()">
    Logout
  </div>
  <!-- LOGOUT END-->
  <div ng-if="mainCtrl.welcomeMessage">Welcome {{currentUser.display}}!</div>
</nav>
